<div class="git-file-item hover-shadow cursor-pointer d-flex justify-content-between" *ngIf="fileItem">

  <div class="file-info" (click)="getFileDetails(fileItem)"
    tooltip={{fileItem.filePath}}{{fileItem.fileName}} placement="bottom" delay="1000">

    <!-- 左侧文件图标 -->
    <div style="display: inline-block">
      <!-- <i class="icon-fork"></i> -->
      <img src={{fileIconPath}} alt="" style="width: 1rem; height: 1rem;">
    </div>

    <!-- 文件名 -->
    <div class="d-inline-block">
      {{fileItem.fileName}}
    </div>

    <!-- 文件路径 -->
    <div class="ml-2 d-inline-block" style="color: gray;">
      {{fileItem.filePath}}
    </div>

  </div>

  <!-- 右侧标识符，指示该文件状态 -->
    <div class="d-inline-block font-weight-bold float-right d-flex justify-content-between ml-1" style="width: 3.3rem;">
      <i *ngIf="fileItem.fileStaged === true" class="icon-minus" tooltip="取消暂存" placement="bottom" delay="1000" (click)="removeFile(fileItem)"></i>
      <!-- <i *ngIf="fileItem.fileStaged === false" class="icon-undo" tooltip="放弃更改" placement="bottom" delay="1000"></i> -->
      <i *ngIf="fileItem.fileStaged === false" class="icon-plus-1" tooltip="暂存更改" placement="bottom" delay="1000" (click)="addFile(fileItem)"></i>
      <label style="margin-bottom: 0">{{fileItem.fileStatus}}</label>
    </div>

  <!-- </div> -->
</div>
