.git-header {
    /* margin: 0 0 10px 0; */
    height: 20px;
}

.git-header .header-label {
    white-space: nowrap;  /*强制span不换行*/
    display: inline-block;  /*将span当做块级元素对待*/
    width: calc(100% - 95px); /*限制宽度*/
    overflow: hidden;  /*超出宽度部分隐藏*/
    text-overflow: ellipsis;  /*超出部分以点号代替*/
}

.git-header .header-icon {
    float: right;
}

.git-header .header-icon .demo-icon{
    margin-left: 10px;
}

.dropdown-menu {
    font-size: 0.8em;
}

