<div dropdown class="nav-item mt-2 position-relative">
  <a dropdownToggle class="dropdown-toggle">
  </a>
  <ul class="dropdown-menu">
    <li role="menuitem">
      <div class="dropdown-item">同步</div>
    </li>
    <li role="menuitem">
      <div class="dropdown-item">拉取</div>
    </li>
    <li role="menuitem">
      <div class="dropdown-item">推送</div>
    </li>

    <li class="divider dropdown-divider"></li>

    <li role="menuitem">
      <div class="dropdown-item">全部提交</div>
    </li>
    <li role="menuitem">
      <div class="dropdown-item">全部提交(修改)</div>
    </li>
    <li role="menuitem">
      <div class="dropdown-item">全部提交(已签名)</div>
    </li>
    <li role="menuitem">
      <div class="dropdown-item">提交已暂存文件</div>
    </li>
    <li role="menuitem">
      <div class="dropdown-item">撤销上次提交已暂存文件</div>
    </li>

    <li class="divider dropdown-divider"></li>

    <li role="menuitem">
      <div class="dropdown-item">取消暂存所有修改</div>
    </li>
    <li role="menuitem">
      <div class="dropdown-item">放弃所有修改</div>
    </li>
    <li role="menuitem">
      <div class="dropdown-item">暂存所有修改</div>
    </li>

  </ul>
</div>
