/* You can add global styles to this file, and also import other style files */

/* 指向图标显示手形光标 */
.cursor-pointer {
    cursor: pointer;
}

/* 划过文件列表，显示深色底色 */
.hover-shadow :hover {
    background-color: #e6e6e6;
}

/* tooltip样式覆盖Bootstrap默认样式 */
/* begin */
.tooltip {
    font-size: 0.175rem;
}

.tooltip-inner {
    max-width: 300px;
    padding: 0.1rem;
    color: black;
    text-align: center;
    background-color: #f6f6f6;
    border-radius: 0;
    border: thin solid #d7d7d7;

    box-shadow: 1px 1px 2px #a3a2a2;
}

.tooltip .arrow {
    /* position: absolute;
    display: block;
    width: .8rem;
    height: .4rem; */
    display: none;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: .4rem .4rem 0;
    border-top-color: #f6f6f6;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-bottom .arrow::before {
    top: 0;
    border-width: .4rem .4rem 0;
    border-top-color: #f6f6f6;
}

.bs-tooltip-auto[x-placement^=top], .bs-tooltip-top {
    padding: 0;
}
.bs-tooltip-auto[x-placement^=top], .bs-tooltip-bottom {
    padding: 0;
}
/* end */
